body {
    margin:0;
}
.contain-one {
    background-color:#1F2937; 
}

.header-and-links {
    display: flex;
    justify-content:space-between;
    padding: 0 128px;
    background-color:#1F2937; 
}
.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-family:'Times New Roman', Times, serif;
    padding: 16px;
}
a {
    text-decoration: none;
    color:#E5E7EB;
    padding: 8px;
}
ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

/* this is the content below the header */
.container-one-second-half {
    display: flex;
    padding: 40px 128px;
    justify-content: space-between;

}
.contain-one-bottom-leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    max-width: 600px;
}
.main-title-signup-button {
    background-color:#3882F6 ;
    border-radius: 5px;
    border:none;
    padding: 8px;
}
.contain-one-bottom-rightside {
    display:flex;
    align-items: center;
    background-color: gray;
    color:darkgray;
    padding: 32px;
    
}
.main-title {
    font-size: 48px;
    font-weight:900px;
    color:#F9FAF8;
}
.main-title-subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

/* this section has the images */

.contain-two-subhead {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.img-display {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 128px;
    flex-wrap: wrap;
}
.image {
    height:120px;
    width:120px;
    border:#3882F6 solid;
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
}
.img-exp {
    text-align: center;
    padding: 16px;
    font-family:'Times New Roman', Times, serif;
    color:grey;
}
.img-one, .img-two, .img-three, .img-four {
    max-width: 200px;
}

/* this is the third section with the quote */

.contain-three {
    background-color: #e4e4e4;
    padding: 10px;
    margin: 0;
}

.combiner-three {
    display: flex;
    flex-direction: column;
    
}
.inspiring-quote {
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
    color:#1F2937;
    padding: 28px 128px;
}

.quote-author {
    font-family:'Times New Roman', Times, serif;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    margin-right:150px;
    padding: 16px;

}

/*this is the fourth section with the signup button again */

.four-text {
    background-color: #3882F6;
    margin: 40px 120px;
    border-radius: 10px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
}

.contain-four-subhead {
    font-size: 24px;
    font-weight: bold;
    color:#E5E7EB;
}
.signup-exp {
    font-size: 16px;
    color: #E5E7EB;
}

.bottom-signup-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border:#E5E7EB solid;
    border-radius: 10px;
}

